.experience {
  .year {
    font-family: Cabin-Bold;
    color: #a2a2a2;
  }
  .work {
    font-family: Cabin-Bold;
    color: #151515;
  }
}
b {
  font-family: Cabin-Bold;
}
.image-cards {
  .image1 {
    margin-top: -112px;
    margin-left: 70px;
  }
}
.txt-container {
  font-size: 64px;
  margin-left: -80px !important;
}
.img-txt {
  width: 390px;
  line-height: 102px;
}
.about-header {
  max-width: 635px;
}
.about-text {
  max-width: 635px;
}
.experience ul li {
  list-style: none;
}
.book {
  padding-left: 20px !important;
}
.book-card {
  border-radius: 6px;
  background-color: #353535 !important;
  height: 345px;
  width: 260px;
}
.music {
  height: 360px;
  width: 380px;
  border: #2d2a2a solid 1px;
  border-radius: 5px;
}

@media (max-width: 420px) {
  .year {
    font-size: 12px;
  }
  .work {
    font-size: 14px;
  }
  .first-section {
    padding-bottom: 0px !important;
  }
  .books-section {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .image-cards {
    margin-left: -25px !important;
    .image2 {
      width: 130px;
    }
    .image1 {
      width: 165px;
      margin-top: -33px;
      margin-left: 60px;
    }
  }
  .books {
    margin-left: 0px !important;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 2px;
    grid-auto-rows: minmax(100px, auto);
    padding: 0px !important;
  }
  .about-header {
    font-size: 1.2rem !important;
  }
  .book {
    padding-left: 0 !important;
    padding-right: 10px;
    margin-top: 10px !important;
  }
  .book-card {
    height: 135px;
    width: 120px;
  }
  .img-grid {
    flex-wrap: nowrap !important;
    margin: auto !important;
    padding: 0px !important;
  }
  .img-txt {
    margin-bottom: 90px !important;
    font-size: 24px;
    margin-left: -20px !important;
  }
  .playlist1 {
    padding: 0px !important;
  }
  .playlist2 {
    padding: 0px !important;
    display: flex !important;
    flex-direction: column-reverse;
    margin-left: 25% !important;
  }
  .music-text {
    margin-top: 20px !important;
    h3 {
      margin-bottom: 5px !important;
    }
    p {
      margin-top: 0px !important;
      width: 214px;
    }
  }
  .spotify {
    text-align: right;
    p {
      position: relative;
      right: 15%;
    }
  }
  .music {
    height: 185px;
    width: 185px;
    border-radius: 12px;
  }
}
