.experience {
  .year {
    font-family: Cabin-Bold;
    color: #a2a2a2;
  }
  .work {
    font-family: Cabin-Bold;
    color: #151515;
  }
}
b {
  font-family: Cabin-Bold;
}
.image-cards {
  .image1 {
    margin-top: -112px;
    margin-left: 70px;
  }
}
.img-txt {
  display: flex;
  align-items: center;
  margin-bottom: 300px;
  font-size: 64px;
  margin-left: -100px;
}
.about-header {
  max-width: 635px;
}
.about-text {
  max-width: 800px;
}
.experience ul li {
  list-style: none;
}
.book {
  padding-left: 20px !important;
}
.book-card {
  border-radius: 6px;
  background-color: #353535 !important;
  height: 345px;
  width: 260px;
}
.music {
  height: 320px;
  width: 320px;
  border: #2d2a2a solid 1px;
  border-radius: 5px;
}
