small {
  span:after {
    background-color: #ffff;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 10%;
    margin-left: 25px;
  }
}

.work-cards {
  li:nth-child(3) {
    margin-top: -10px !important;
  }
  li:nth-child(4) {
    margin-top: 35px !important;
  }
  .work-card {
    border-radius: 15px;
    min-height: 650px;
    overflow: hidden;
    img {
      object-fit: cover;
      min-height: inherit;
      min-width: inherit;
    }
  }
  .previewText {
    position: absolute;
    background-color: #ffffff4d;
    padding-left: 10px;
    left: 5%;
    height: 70px;
    border-radius: 10px;
    width: 335px;
    bottom: 10%;
    color: black;
  }
}

.home-card {
  border-radius: 15px;
  min-height: 390px;
  background-image: url(https://thumbs.dreamstime.com/b/projects-concept-black-chalkboard-d-rendering-handwritten-top-view-office-desk-lot-business-office-supplies-79906734.jpg);
}

.home-image {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.summary {
  max-width: 715px;
}

.home-contact {
  padding-top: 80px;
  padding-bottom: 60px;
}
