small {
  span:after {
    background-color: #040404;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 12%;
    margin-left: 25px;
  }
}

.work-cards {
  li:nth-child(3) {
    margin-top: -10px !important;
  }
  li:nth-child(4) {
    margin-top: 35px !important;
  }
  .work-card {
    border-radius: 15px;
    min-height: 650px;
    overflow: hidden;
    pointer-events: auto;
    transition: all 0.2s ease-in-out;
    img {
      object-fit: cover;
      min-height: inherit;
      min-width: inherit;
    }
  }
  .work-card:hover {
    transform: scale(1.1);
  }
  .previewText {
    position: absolute;
    background-color: #ffffff4d;
    padding: 10px;
    left: 5%;
    height: 70px;
    border-radius: 10px;
    width: 310px;
    bottom: 10%;
    color: black;
  }
}
.projectType {
  display: none;
}
.home-card {
  border-radius: 15px;
  min-height: 390px;
  background-image: url(https://thumbs.dreamstime.com/b/projects-concept-black-chalkboard-d-rendering-handwritten-top-view-office-desk-lot-business-office-supplies-79906734.jpg);
}

.home-image {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.summary {
  max-width: 620px;
}

.home-contact {
  padding-top: 60px;
  padding-bottom: 60px;
}
.help-text {
  max-width: 420px;
}

@media (max-width: 640px) {
  .ellipse-section {
    display: none !important;
  }
  .work-cards {
    .work-card {
      margin-top: 0px !important;
      min-width: 324px !important;
      min-height: 285px !important;
      display: inline-block !important;
      box-shadow: none !important;
      border-radius: 6px !important;
      img {
        border-radius: 6px;
        max-height: 214px !important;
        width: 284.5px !important;
      }
    }
    .previewText {
      width: 210px;
      background-color: #fff;
      border-radius: 0%;
      box-shadow: none !important;
      left: 0%;
      bottom: 0%;
      position: relative;
      padding-top: 10px;
      padding-left: 0px;
      span {
        display: none;
      }
    }
    li:nth-child(2) {
      margin-top: 30px !important;
    }
    li:nth-child(3) {
      margin-top: 30px !important;
    }
    li:nth-child(4) {
      margin-top: 30px !important;
    }
  }
  .projectType {
    display: block;
    color: #5c5c5c;
  }
  small {
    span:after {
      width: 42%;
    }
  }
}

@media (max-width: 380px) {
  .work-cards {
    .work-card {
      min-width: 284.5px !important;
    }
  }
}
