.study-header {
  max-width: 500px;
  color: #1e87f0 !important;
}
.orange-header {
  color: #ec4628 !important;
}
.study-image {
  max-width: 1200px;
  max-height: 792px;
  margin: auto;
  img {
    margin: auto;
  }
}
span.gray-overlay {
  background: gray;
  display: none;
  height: inherit;
  width: inherit;
  position: relative;
  bottom: 200px;
} /*
.study-image a:hover {
  background: gray;
  color: white;
  text-decoration: none;
}
.study-image a:hover span.gray-overlay {
  display: block;
} */
.study-tab {
  display: contents;
}
.study-brief {
  max-width: 550px;
}
.uk-tab {
  justify-content: space-between;
  padding-left: 80px !important;
  padding-right: 80px !important;
}
.uk-tab > .uk-active > a {
  border-color: transparent !important;
}
.uk-tab li {
  padding-left: 25px;
  padding-right: 25px;
}
.uk-tab li.uk-active a {
  position: relative;
  margin-bottom: 20px;
}
.uk-tab li.uk-active a::after {
  content: "•" !important;
  color: #1e87f0;
  font-size: 45px;
  margin-top: 35px;
  position: absolute;
  z-index: -1;
}
.orange-tab li.uk-active a::after {
  content: "•" !important;
  color: #ec4628;
  font-size: 45px;
  margin-top: 35px;
  position: absolute;
  z-index: -1;
}
.long-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.long-image {
  object-fit: contain;
  max-width: 70%;
}
.xlong-image {
  object-fit: contain;
  max-width: 60%;
}
.image-block {
  background-color: #eeee;
}
.next-cards {
  position: relative;

  .next-card {
    border-radius: 15px;
    min-height: 540px;
    overflow: hidden;
    img {
      object-fit: cover;
      min-height: inherit;
      min-width: inherit;
    }
  }
  .previewText {
    position: absolute !important;
    background-color: #ffffff4d;
    padding-left: 10px;
    left: 5%;
    height: 70px;
    border-radius: 10px;
    width: 310px;
    bottom: 10%;
    color: black;
  }
}
.nxt-header {
  color: #969696 !important;
}
