.study-header {
  max-width: 425px;
  color: #040404 !important;
} /* 
.blue-header {
  color: #1e87f0 !important;
}
.orange-header {
  color: #ec4628 !important;
}
.purple-header {
  color: #666eed !important;
} */
.study-image {
  max-width: 1200px;
  max-height: 792px;
  margin: auto;
  img {
    margin: auto;
  }
}
span.gray-overlay {
  background: gray;
  display: none;
  height: inherit;
  width: inherit;
  position: relative;
  bottom: 200px;
} /*
.study-image a:hover {
  background: gray;
  color: white;
  text-decoration: none;
}
.study-image a:hover span.gray-overlay {
  display: block;
} */
.study-tab {
  display: contents;
}
.study-brief {
  max-width: 550px;
}
.grey-text {
  color: #8d8d8d;
}
.sticky-column {
  height: 80vh;
  position: sticky;
  display: flex;
  width: 30% !important;
}
.column-tab {
  flex-direction: column;
  margin-right: 0px !important;
  li {
    padding-bottom: 25px;
  }
}
.column-tab::before {
  content: none !important;
}
.split {
  .uk-sticky-placeholder {
    width: 45%;
  }
  .uk-tab {
    margin-right: 0px !important;
  }
}
.uk-tab {
  justify-content: space-between;
  padding-left: 80px !important;
  padding-right: 80px !important;
  margin-left: 35px !important;
  margin-right: 57px !important;
}
.uk-tab > .uk-active > a {
  border-color: transparent !important;
}
.uk-tab li {
  padding-left: 25px;
  padding-right: 25px;
}
.uk-tab li.uk-active a {
  position: relative;
  margin-bottom: 20px;
}
.blue-tab li.uk-active a::after {
  content: "•" !important;
  color: #1e87f0;
  font-size: 45px;
  margin-top: 35px;
  position: absolute;
  z-index: 10 !important;
}
.purple-tab li.uk-active a::after {
  content: "•" !important;
  color: #666eed;
  font-size: 45px;
  margin-top: 35px;
  position: absolute;
  z-index: 10 !important;
}
.orange-tab li.uk-active a::after {
  content: "•" !important;
  color: #ec4628 !important;
  font-size: 45px;
  margin-top: 35px;
  position: absolute;
  z-index: 10 !important;
}
.long-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.long-image {
  object-fit: contain;
  max-width: 70%;
}
.xlong-image {
  object-fit: contain;
  max-width: 60%;
}
.tasks {
  list-style: auto;
  margin-left: -15px;
  width: 333px;
}
.next-cards {
  position: relative;

  .next-card {
    border-radius: 15px;
    max-height: 540px;
    overflow: hidden;
    img {
      object-fit: cover;
      min-height: inherit;
      min-width: inherit;
    }
  }
  .previewText {
    position: absolute !important;
    background-color: transparent;
    padding-left: 10px;
    left: 5%;
    height: 70px;
    border-radius: 10px;
    width: 310px;
    bottom: 5%;
    color: black;
  }
}
.nxt-header {
  color: #969696 !important;
}

@media (max-width: 420px) {
  .reduce-bottom {
    padding-bottom: 0px !important;
  }
  .remove-margin {
    margin-bottom: 0px !important;
  }
  .reduce-top {
    padding-top: 0px !important;
  }
  .study-tab,
  .next-section,
  .hide-mobile {
    display: none !important;
  }
}
