.footer-text {
  max-width: 550px;
  color: #ffff !important;
}
.footer-section {
  align-items: end;
}
.social {
  color: white;
}
.linkedin {
  padding: 1px;
  border: 1px solid white;
  border-radius: 2px;
  background-color: white;
}
.footer-bottom {
  align-items: center;
  justify-items: center;
  display: flex;
}
.bottom-line {
  border-top: 0.7px solid #e4e7ec;
}
.fill {
  fill: white;
  stroke: black;
}
.reverse-fill {
  stroke: white !important;
  fill: black !important;
}
