.footer-text {
  max-width: 550px;
  color: black !important;
  font-family: Cabin;
}
.footer-section {
  align-items: end;
}
.social {
  color: black !important;
  transition: all 0.2s ease-in-out;
}
.footer-bottom {
  align-items: center;
  justify-items: center;
  display: flex;
}
.bottom-text {
  color: #8e8e8e;
}
.bottom-line {
  border-top: 0.7px solid #040404;
}
.fill {
  fill: black;
  stroke: white;
}
.reverse-fill {
  stroke: black !important;
  fill: white !important;
}
.email {
  display: none;
}
@media (max-width: 420px) {
  .footer-text {
    display: none;
  }
  .email {
    display: block;
  }
  .footer-section {
    align-items: center;
  }
  .footer-socials {
    white-space: no-wrap;
    display: contents;
    .mail {
      display: none;
    }
    a {
      margin-right: 5px !important;
    }
    img,
    svg {
      height: 24px;
      width: 24px;
    }
  }
}
