@import url(./assets/Cabin-Font/styles.css);
:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light;
  color: #040404 !important;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Cabin;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Cabin !important;
}

.header-text {
  color: #fff !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.main-container {
  overflow-x: hidden;
  width: 100%;
}

.header-text {
  font-family: Cabin-SemiBold !important;
  color: #040404;
}

.jerday-btn {
  background: #f2f2f2 !important;
  border-radius: 20px !important;
  text-transform: none !important;
}

.header-text {
  color: #040404 !important;
}

.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 999;
}

.top-btn-style {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.top-btn-style:hover {
  animation: none;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
}

@media (min-width: 720px) {
  h1 {
    font-size: 3.625rem !important;
  }

  h2 {
    font-size: 2.1875rem !important;
  } /*
  //beth hover anim
  body:has(.work-list:nth-child(1):hover) {
    background-color: #f5f0eb;
  }

  body:has(.work-list:nth-child(1):hover) .top-nav {
    background-color: #f5f0eb !important;
  }

  //spayces hover anim
  body:has(.work-list:nth-child(2):hover) {
    background-color: #ec4628;
    color: #fff !important;
  }

  body:has(.work-list:nth-child(2):hover) small span:after {
    background-color: #fff !important;
  }

  body:has(.work-list:nth-child(2):hover) .header-text {
    color: #fff !important;
  }

  body:has(.work-list:nth-child(2):hover) .top-nav {
    background-color: #ec4628 !important;
  }

  body:has(.work-list:nth-child(2):hover) .footer-text {
    color: #fff !important;
  }

  body:has(.work-list:nth-child(2):hover) hr {
    border-top: 0.7px solid #fff !important;
  }

  //yamas anim
  body:has(.work-list:nth-child(3):hover) {
    background-color: #222121;
    color: #fff !important;
  }

  body:has(.work-list:nth-child(3):hover) small span:after {
    background-color: #fff !important;
  }

  body:has(.work-list:nth-child(3):hover) .header-text {
    color: #fff !important;
  }

  body:has(.work-list:nth-child(3):hover) .top-nav {
    background-color: #222121 !important;
  }

  body:has(.work-list:nth-child(3):hover) .footer-text {
    color: #fff !important;
  }

  body:has(.work-list:nth-child(3):hover) hr {
    border-top: 0.7px solid #fff !important;
  }

  //bethfin hover anim
  body:has(.work-list:nth-child(4):hover) {
    background-color: #c5e2f4;
  }

  body:has(.work-list:nth-child(4):hover) .top-nav {
    background-color: #c5e2f4 !important;
  }

  //saph hover anim
  body:has(.work-list:nth-child(5):hover) {
    background-color: #6a71e8;
    color: #fff !important;
  }

  body:has(.work-list:nth-child(5):hover) small span:after {
    background-color: #fff !important;
  }

  body:has(.work-list:nth-child(5):hover) .header-text {
    color: #fff !important;
  }

  body:has(.work-list:nth-child(5):hover) .footer-text {
    color: #fff !important;
  }

  body:has(.work-list:nth-child(5):hover) hr {
    border-top: 0.7px solid #fff !important;
  }

  body:has(.work-list:nth-child(5):hover) .top-nav {
    background-color: #6a71e8 !important;
  }*/
}
