@import url(./assets/Cabin-Font/styles.css);
:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light;
  color: #040404 !important;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Cabin;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.main-container {
  overflow-x: hidden;
  width: 100%;
}

.header-text {
  font-family: Cabin-Bold !important;
  color: #040404;
}

.jerday-btn {
  background: #f2f2f2 !important;
  border-radius: 20px !important;
  text-transform: none !important;
}

h2 {
  font-size: 2.1875rem !important;
}
