.top-nav {
  background-color: #fff;
  box-shadow: 0 10px 10px -12px rgb(56 56 56 / 16%);
  font-family: Cabin;
  .nav-section {
    background-color: #fff;
    padding: 6px;
    .logo {
      padding: 0;
      img {
        height: 45px;
      }
    }
  }
}
.primary-nav {
  flex-direction: column;
  color: black;
  a {
    color: black !important;
  }
}
.toggle-mobile-nav {
  display: block !important;
  background: url(../../assets/icons/menu.svg);
  background-repeat: no-repeat;
  border: 0;
  width: 2rem;
  aspect-ratio: 1;
  top: 2rem;
  right: 2rem;
}
.uk-offcanvas-bar {
  background-color: #fff !important;
}
.uk-close {
  color: black;
}
